body {
background: rgb(208, 209, 210);
color:rgb(231, 112, 181);
padding: 10px; 
font-family: sans-serif, Arial;
}
#all-contents {
max-width 800px;
margin: auto;
}
nav {
background: rgb(170, 58, 58);
margin: 0 auto;
display: flex;
padding: 10px;
margin-bottom: 20px;
}
h1 {
display: flex;
align-items: center;
color: white;
flex: 1;
margin: 0;
}
#nav-ul {
list-style-type: none;
margin:0;
padding: 0;
display: flex;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fff;
}
.sidebar {
    width: 200px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}
#interests {
    border: 4px silver ridge;
    padding: 8px;
    margin-top: 20px;
}
h2, h3 {
    margin: 0px;
}
img {
    border-radius: 10px;
}
.curved-background {
    border-radius: 20px;
}